{% extends '::base.html.twig' %}
{% block title %}Herramienta Inventario{% endblock %}
{% block body %}
    <h1>Operaci贸n de inventario denegada</h1>
    <p>Actualmente tiene una operaci贸n de <b>{{ operacion_abierta }}</b> de inventario abierta, debe concluirla o cancelarla antes de poder ejecutar una operaci贸n de <b>{{ operacion_deseada }}</b> de inventario.</p>
    <p>Continuar con <a href="{{ path('inventario') }}/{{ operacion_abierta }}">operaci贸n de {{ operacion_abierta }}</a></p>
{% endblock %}

