{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inventario</h1>
    <ul>
        <li>
            <a href="{{ path('admin_inventario_new') }}">
                Agregar nuevo
            </a>
        </li>
    </ul>
    {% if 0 %}
        <p>No hay articulos para mostrar</p>
    {% else %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fechacompra</th>
                <th>Restricción</th>
                <th>Descontinuado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_inventario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoBarra }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaCompra %}{{ entity.fechaCompra|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.flagRestriccion }}</td>
                <td>{{ entity.flagDescontinuado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_inventario_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_inventario_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endblock %}
