{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inventario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigoBarra }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha Compra</th>
                <td>{{ entity.fechaCompra|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Restringido</th>
                <td>{{ entity.flagRestriccion }}</td>
            </tr>
            <tr>
                <th>Descontinuado</th>
                <td>{{ entity.flagDescontinuado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_inventario') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('admin_inventario_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
